* {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
}

main h1 {
    font-size: 50px;
    color: #111;
    margin-bottom: 2rem;
}

.start-screen {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 512px;
    width: 512px;
    border: 2px solid #111;
}

.container img {
    width: 100%;
    height: 100%;
}

.container #start{
    position: absolute;
    margin-bottom: 30px;
    padding: 10px 30px;
    background-color: #FFD700;
    font-size: 50px;
    color:  #99C703;
    cursor: pointer;
    border-radius: 10px;
    border-color: #f1f1f1;
}

.container #start:hover {
    background-color: #fff;
}

.container .pulse {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

canvas {
    display: none;
    border: 2px solid #111;
}

@keyframes pulse {
    0% {
        padding: 10px 30px;
        font-size: 50px;
    }
    50% {
        padding: 12px 32px;
        font-size: 55px;
    }
    100% {
        padding: 10px 30px;}
}